@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

:root {
    --theme-color-primary: #0b74b9;
    --font-size-sm: 11px;
    --font-size-md: 12px;
    --font-size-lg: 13px;
    --font-weight-light: 300;
    --font-weight-regular: 500;
    --font-weight-bold: 700;
    --box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    --font-Roboto: "Roboto", sans-serif;
}

.login {
    background: url('');
}