@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
:root {
  --theme-color-primary: #0b74b9;
  --font-size-sm: 11px;
  --font-size-md: 12px;
  --font-size-lg: 13px;
  --font-weight-light: 300;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  --font-Roboto: "Roboto", sans-serif;
}

.transition, .has-sub-nav .has-sub-nav .has-sub-nav .dropdown, .has-sub-nav .has-sub-nav .dropdown, .has-sub-nav:hover .dropdown,
.has-sub-nav .has-sub-nav:hover .dropdown,
.has-sub-nav .has-sub-nav .has-sub-nav:hover .dropdown, .navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li ul li:hover span,
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li ul li ul li:hover span,
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li ul li ul li ul li:hover span, .navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li ul li:hover,
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li ul li ul li:hover,
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li ul li ul li ul li:hover, .navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown {
  transition: ease-in 0.35s;
  -moz-transition: ease-in 0.35s;
  -webkit-transition: ease-in 0.35s;
  z-index: 99999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-Roboto);
}

.navbar-expand-md {
  height: 70px;
  box-shadow: var(--box-shadow);
}
.navbar-expand-md .bi {
  width: 25px;
  height: 100%;
}
.navbar-expand-md .logo {
  display: block;
  margin: 23px 15px;
  /*   width: 200px; */
}
.navbar-expand-md .main__nav_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.navbar-expand-md .main__nav_list .main__nav_listItem {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  height: 68px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: #828282;
  line-height: 15px;
  cursor: pointer;
}
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown {
  position: absolute;
  top: 74px;
  width: 180px;
  opacity: 0;
  visibility: hidden;
  color: #373737;
  text-align: center;
}
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown {
  position: relative;
}
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li {
  display: inline-block;
  padding: 15px;
  box-shadow: var(--box-shadow);
}
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li:hover ul span,
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li:hover ul li ul li span,
.navbar-expand-md .main__nav_list .main__nav_listItem .main__nav_listItem .dropdown .main__nav_listItem .dropdown .dropdown .main__nav_listItem .dropdown li .main__nav_listItem li:hover ul li ul li ul li span {
  color: #333;
}
.navbar-expand-md .main__nav_list .main__nav_listItem:hover {
  background: rgb(231, 241, 248);
  border-bottom: 3px solid var(--theme-color-primary);
  border-radius: 0 0 2px 2px;
  height: 74px;
}

.has-sub-nav:hover .dropdown,
.has-sub-nav .has-sub-nav:hover .dropdown,
.has-sub-nav .has-sub-nav .has-sub-nav:hover .dropdown {
  padding: 0;
  opacity: 1;
  visibility: visible;
}

/*Navbar Toggler*/
.navbar-collapse.collapse {
  box-shadow: var(--box-shadow);
  width: 100%;
  transition: all 0.3s ease-out;
  display: none;
  cursor: pointer;
}

.navbar-toggler {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
.navbar-toggler .navbar-toggler[aria-expanded=false] .bi-x-lg,
.navbar-toggler .navbar-toggler.navbar-toggler[aria-expanded=true] .bi-list {
  display: none;
}
.navbar-toggler .navbar-toggler[aria-expanded=false] .bi-list,
.navbar-toggler .navbar-toggler[aria-expanded=true] .bi-x-lg {
  display: block;
}
.navbar-toggler .navbar-toggler[aria-expanded=true] .bi-x-lg {
  transform: rotate(1800deg);
  transition: 0.5s all ease;
}
.navbar-toggler:hover {
  transform: rotate(360deg);
  transition: 0.5s all ease;
}
.navbar-toggler .navbar-toggler-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler .offcanvas.show .navbar-toggle-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler .navbar-toggler:focus {
  box-shadow: none;
}

/*First Level Subnav*/
.sub-nav {
  position: relative;
  top: 100%;
  right: 0px;
  bottom: 0px;
  width: 180px;
}

/*Second Level Subnav*/
.has-sub-nav .has-sub-nav .dropdown .sub-nav {
  position: relative;
  top: 0px;
  left: 0;
}

.has-sub-nav .has-sub-nav .dropdown {
  position: absolute;
  width: auto;
  left: -100%;
  top: 0px;
  opacity: 0;
  visibility: hidden;
}

/*Third Level Subnav*/
.has-sub-nav .has-sub-nav .has-sub-nav .dropdown {
  position: absolute;
  width: 180px;
  left: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.has-sub-nav .has-sub-nav .has-sub-nav .dropdown .sub-nav {
  position: relative;
  top: 100%;
  left: 0;
}

.has-sub-nav:nth-last-child(-n+1) .has-sub-nav .dropdown {
  left: auto;
  right: 100%;
}

a.accordion.active .bi-chevron-right::before,
div.accordion.active .bi-chevron-right::before {
  content: "\f282";
}

.drop-nav-nested {
  display: block;
  padding: 10px 15px 10px 50px;
  width: 100%;
  text-decoration: none;
  border-radius: 0;
}

.drop-nav {
  display: block;
  padding: 10px 15px 10px 40px;
  width: 100%;
  text-decoration: none;
  border-radius: 0;
}

.nav-button {
  font-size: var(--font-size-md);
  line-height: 15px;
  padding: 10px 15px;
}

div.navbar-collapse .btn-check:focus + .btn,
div.navbar-collapse .btn:focus {
  box-shadow: none;
}

.panel {
  display: none;
  overflow: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button.d-flex.justify-content-between.btn.accordion.nav-button.highlight.active .bi-chevron-right::before {
  content: "\f282";
}

a.drop-nav.drop-nav-nested,
a.drop-nav.drop-nav-twicenested {
  background: var(--theme-color-primary);
  padding: 12px 15px 12px 50px;
}

a.drop-nav.drop-nav-twicenested {
  background: var(--theme-color-primary);
  padding: 12px 15px 12px 70px;
}/*# sourceMappingURL=index.css.map */